Repository drguilhermecapel/cardio.ai.pro: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-coverage-check, backend-critical-coverage, frontend-coverage-check, frontend-medical-coverage, check-test-documentation, complexity-check, validate-medical-changes

backend-coverage-check:
  name: Backend Coverage Check
  entry: bash -c 'cd backend && poetry run pytest --cov=app --cov-fail-under=80 -x'
  language: system
  pass_filenames: false
  stages:
  - push

backend-critical-coverage:
  name: Backend Critical Components Coverage
  entry: bash -c 'cd backend && poetry run pytest tests/test_medical_critical_components.py --cov=app.services.ecg --cov=app.services.diagnosis --cov-fail-under=100'
  language: system
  pass_filenames: false
  stages:
  - push

frontend-coverage-check:
  name: Frontend Coverage Check
  entry: bash -c 'cd frontend && npm run test:coverage:check'
  language: system
  pass_filenames: false
  stages:
  - push

frontend-medical-coverage:
  name: Frontend Medical Components Coverage
  entry: bash -c 'cd frontend && npm run test:critical'
  language: system
  pass_filenames: false
  stages:
  - push

check-test-documentation:
  name: Check Test Documentation
  entry: python scripts/check_test_docs.py
  language: python
  pass_filenames: true

complexity-check:
  name: Check Code Complexity
  entry: bash -c 'cd backend && poetry run radon cc app -nc'
  language: system
  pass_filenames: false

validate-medical-changes:
  name: Validate Medical Component Changes
  entry: python scripts/validate_medical_changes.py
  language: python
  pass_filenames: true
  stages:
  - commit

feat: adiciona configuração de treinamento para dataset PTB-XL em setup_training.py
  scripts/setup_training.py
Due: none

feat: adiciona lógica de treinamento para dataset PTB-XL
  scripts/setup_training.py
Due: none

refactor: simplifica setup_training.py removendo implementação específica
  scripts/setup_training.py
Due: none

feat: adiciona implementação de treinamento para dataset PTB-XL
  scripts/setup_training.py
Due: none

Otimização do main branch: Correções de arquivos e implementação do PTB-XL
  backend/training/__init__.py
  backend/training/config/dataset_configs.py
  backend/training/datasets/ptbxl_dataset.py
  backend/training/main.py
  backend/training/main_.py
  backend/training/requirements.txt
  backend/training/scripts/download_datasets.py
  backend/training/scripts/setup_training_env.py
Due: backend-coverage-check

feat: Implementação completa da arquitetura híbrida avançada e integração PTB-XL
  backend/app/core/ml_config.py
  backend/app/ml/edge_optimization.py
  backend/app/ml/hybrid_architecture.py
  backend/app/ml/interpretability_module.py
  backend/app/ml/ptbxl/__init__.py
  backend/app/ml/ptbxl/automated_ptbxl_pipeline.sh
  backend/app/ml/ptbxl/integrate_ptbxl_model.py
  backend/app/ml/ptbxl/quickstart.py
  backend/app/ml/ptbxl/run_ptbxl_experiments.py
  backend/app/ml/ptbxl/train_ptbxl.py
  backend/app/ml/training_pipeline.py
  backend/app/services/advanced_ml_service.py
  docs/DEPLOYMENT_GUIDE.md
  docs/PTBXL_TRAINING_GUIDE.md
  docs/performance_benchmarks.py
Due: backend-coverage-check, complexity-check

fix
  train_ecg.py
Due: none

Adiciona ECGTrainer para treinamento de modelos ECG
  backend/training/trainers/__init__.py
  backend/training/trainers/ecg_trainer.py
Due: backend-coverage-check

Melhoria nos métodos de extração de imagens de ECG para suportar JPEG, JPG, PDF e outros formatos
  backend/app/services/__init__.py
  backend/app/services/ecg_image_extractor.py
  backend/app/services/hybrid_ecg_service.py
  backend/tests/test_ecg_image_extractor.py
  requirements.txt
Due: backend-coverage-check, check-test-documentation, complexity-check

Delete spei-emr-backend directory
  spei-emr-backend/.env.example
  spei-emr-backend/app/__init__.py
  spei-emr-backend/app/database.py
  spei-emr-backend/app/main.py
  spei-emr-backend/app/models.py
  spei-emr-backend/app/schemas.py
  spei-emr-backend/pyproject.toml
Due: none

Update pyvenv.cfg
  cardioai_env/pyvenv.cfg
Due: none

Corrige erro 'Attribute name metadata is reserved' e adiciona guias de teste
  CORRECAO_ERRO_METADATA.md
  GUIA_TESTE_RAPIDO.md
  backend/app/models/ecg_analysis.py
  backend/fix_metadata_field.py
Due: backend-coverage-check, complexity-check

Corrige erro 'name List is not defined' e atualiza guia de correção de erros
  CORRECAO_ERRO_METADATA.md
  backend/app/core/exceptions.py
  backend/fix_list_import.py
Due: backend-coverage-check, complexity-check

Corrige erro de sintaxe de tipos (User | None) e atualiza guias
  CORRECAO_ERRO_METADATA.md
  GUIA_TESTE_RAPIDO.md
  backend/app/db/init_db.py
  backend/fix_type_annotations.py
Due: backend-coverage-check, complexity-check

Adiciona correção para erro 'useAuth must be used within an AuthProvider' no frontend
  CORRECAO_ERRO_FRONTEND.md
  GUIA_TESTE_RAPIDO.md
  frontend/fix_auth_context.js
Due: none

Adiciona suporte para favicon e corrige erro 404
  CORRECAO_ERRO_FAVICON.md
  GUIA_TESTE_RAPIDO.md
  backend/app/main.py
  backend/app/static/favicon.ico
  backend/create_favicon.py
Due: backend-coverage-check, complexity-check

Adiciona script aprimorado para correção de erros no frontend
  CORRECAO_ERRO_FRONTEND_COMPLETA.md
  frontend/fix_auth_context_improved.js
Due: none

Adiciona documento com credenciais de acesso padrão
  CREDENCIAIS_ACESSO.md
Due: none

Adiciona correção para erro 404 nas rotas de login
  CORRECAO_ERRO_LOGIN.md
  frontend/fix_api_routes.js
Due: none

Adiciona rotas de compatibilidade para autenticação no backend
  backend/app/main.py
Due: backend-coverage-check, complexity-check

Atualiza guias de instalação com correção para erro de login
  GUIA_INSTALACAO_COMPLETO.md
  GUIA_TESTE_RAPIDO.md
Due: none

Adiciona correções para erros de proxy e manifest no frontend
  CORRECAO_ERRO_MANIFEST.md
  frontend/create_manifest.js
  frontend/fix_vite_config.js
  frontend/vite.config.ts
Due: none

Atualiza guias com instruções para corrigir erro de manifest
  GUIA_INSTALACAO_COMPLETO.md
  GUIA_TESTE_RAPIDO.md
Due: none

Corrige URLs de API no AuthContext para usar /api/v1/auth
  frontend/src/contexts/AuthContext.tsx
Due: frontend-coverage-check

Adiciona guia de teste passo a passo detalhado
  GUIA_TESTE_PASSO_A_PASSO.md
Due: none

Adiciona arquivos de manifest e ícones PWA
  frontend/public/manifest.json
  frontend/public/pwa-192x192.png
  frontend/public/pwa-512x512.png
Due: none

Adiciona documento com comandos rápidos para testar o sistema
  COMANDOS_PARA_TESTAR.md
Due: none

Adiciona classe UnauthorizedException para corrigir erro de importação no backend
  backend/app/core/exceptions.py
Due: backend-coverage-check, complexity-check

Adiciona importação de APIRouter no main.py para corrigir erro de importação
  backend/app/main.py
Due: backend-coverage-check, complexity-check

Adiciona guia de correção para erro de importação no backend
  CORRECAO_ERRO_BACKEND.md
Due: none

Atualiza guia de comandos com referências às correções recentes
  COMANDOS_PARA_TESTAR.md
Due: none

Adiciona email-validator às dependências do backend
  backend/requirements.txt
Due: none

Remove prefixo duplicado da rota de autenticação
  backend/app/api/v1/endpoints/auth.py
Due: backend-coverage-check, complexity-check

Atualiza guia de correção para erro de login
  CORRECAO_ERRO_LOGIN.md
Due: none

Corrige erro de indentação no ECGService
  backend/app/services/ecg_service.py
Due: backend-coverage-check, complexity-check

Adiciona guia de correção para erro de indentação
  CORRECAO_ERRO_INDENTACAO.md
Due: none

Adiciona guia completo de instalação e execução
  GUIA_INSTALACAO.md
Due: none

Path conditions:
  backend-coverage-check: any of: ^backend/.*\.py$
  backend-critical-coverage: any of: ^backend/app/(services/(ecg|diagnosis)|utils/medical)/.*\.py$
  frontend-coverage-check: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  frontend-medical-coverage: any of: ^frontend/src/(components/medical|services/(ecg|diagnosis))/.*\.(ts|tsx)$
  check-test-documentation: any of: ^(backend|frontend)/.*test.*\.(py|ts|tsx)$
  complexity-check: any of: ^backend/app/.*\.py$
  validate-medical-changes: any of: ^(backend/app/(services/(ecg|diagnosis)|utils/medical)|frontend/src/components/medical)/
