Repository drguilhermecapel/cardio.ai.pro: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-coverage-check, backend-critical-coverage, frontend-coverage-check, frontend-medical-coverage, check-test-documentation, complexity-check, validate-medical-changes

backend-coverage-check:
  name: Backend Coverage Check
  entry: bash -c 'cd backend && poetry run pytest --cov=app --cov-fail-under=80 -x'
  language: system
  pass_filenames: false
  stages:
  - push

backend-critical-coverage:
  name: Backend Critical Components Coverage
  entry: bash -c 'cd backend && poetry run pytest tests/test_medical_critical_components.py --cov=app.services.ecg --cov=app.services.diagnosis --cov-fail-under=100'
  language: system
  pass_filenames: false
  stages:
  - push

frontend-coverage-check:
  name: Frontend Coverage Check
  entry: bash -c 'cd frontend && npm run test:coverage:check'
  language: system
  pass_filenames: false
  stages:
  - push

frontend-medical-coverage:
  name: Frontend Medical Components Coverage
  entry: bash -c 'cd frontend && npm run test:critical'
  language: system
  pass_filenames: false
  stages:
  - push

check-test-documentation:
  name: Check Test Documentation
  entry: python scripts/check_test_docs.py
  language: python
  pass_filenames: true

complexity-check:
  name: Check Code Complexity
  entry: bash -c 'cd backend && poetry run radon cc app -nc'
  language: system
  pass_filenames: false

validate-medical-changes:
  name: Validate Medical Component Changes
  entry: python scripts/validate_medical_changes.py
  language: python
  pass_filenames: true
  stages:
  - commit

correção
  backend/0.19.0
  backend/0.21.0
  backend/0.24.0
  backend/3.10.0
  backend/4.0.0
  backend/7.0.0
  backend/app/core/exceptions.py
  backend/fix-cardioai-windows.bat
Due: backend-coverage-check, complexity-check

correção
  backend/3.10.0
  backend/app/core/config.py
  backend/app/core/constants.py
  backend/app/core/logging.py
  backend/app/services/ecg_service.py
  backend/app/utils/memory_monitor.py
  backend/apply-all-fixes-python.py
  backend/cardioai-fix-script.py
  backend/diagnose-indentation.py
  backend/fix-additional-issues.py
  backend/fix-ecg-service-init.py
  backend/fix-indentation-error.py
  backend/fix-validation-exception.py
  backend/run-tests-cardioai.py
  backend/tests/conftest.py
  backend/tests/test_utils.py
Due: backend-coverage-check, check-test-documentation, complexity-check

correção
  backend/app/services/ecg_service.py.backup
  backend/execute-all-fixes.py
Due: backend-coverage-check

python fix-all-tests-now.py
  backend/fix-all-tests-now.py
Due: backend-coverage-check, check-test-documentation

correção
  backend/app/core/constants.py
  backend/app/services/ecg_service.py
  backend/app/utils/memory_monitor.py
  backend/fix-memory-monitor-class.py
  backend/run-all-fixes-final.py
Due: backend-coverage-check, complexity-check

Update memory_monitor.py
  backend/app/utils/memory_monitor.py
Due: backend-coverage-check, complexity-check

Create fix_memory_monitor_complete.py
  backend/fix_memory_monitor_complete.py
Due: backend-coverage-check

Update test_ecg_tasks_complete_coverage.py
  backend/tests/test_ecg_tasks_complete_coverage.py
Due: backend-coverage-check, check-test-documentation

Create requirements.txt
  backend/requirements.txt
Due: none

Create requirements-dev.txt
  backend/requirements-dev.txt
Due: none

Create install_dependencies.py
  backend/install_dependencies.py
Due: backend-coverage-check

Create ecg.py
  backend/models/ecg.py
Due: backend-coverage-check

Create ecg.py
  backend/app/schemas/ecg.py
Due: backend-coverage-check, complexity-check

Update ecg_service.py
  backend/app/services/ecg_service.py
Due: backend-coverage-check, complexity-check

Create apply_all_fixes.py
  backend/apply_all_fixes.py
Due: backend-coverage-check

fix
  backend/app/schemas/ecg.py.backup_20250617_172134
  backend/app/services/ecg_service.py.backup_20250617_172134
  backend/fix_all_tests_coverage.py
  backend/verify_fixes.py
Due: backend-coverage-check, check-test-documentation

fix
  backend/emergency_fix_script.py
  backend/fix_path_corrected.py
Due: backend-coverage-check

fix
  backend/app/services/ecg_service.py.bak
  backend/app/services/hybrid_ecg_service.py
  backend/app/services/interfaces.py
  backend/app/utils/memory_monitor.py
Due: backend-coverage-check, complexity-check

fix
  backend/emergency_fix_script (1).py
  backend/fix_path_corrected (1).py
Due: backend-coverage-check

fix
  backend/app/models/ecg.py
  backend/app/services/ecg_service.py.backup_generate_report
  backend/fix_all_imports_final.py
  backend/fix_generate_report_indent.py
  backend/test_imports.py
Due: backend-coverage-check, check-test-documentation, complexity-check

fix
  backend/app/services/ecg_service.py.backup_ecganalysis
  backend/app/services/ecg_service.py.backup_ecganalysis_v2
  backend/app/services/ecg_service.py.backup_final
  backend/app/services/ecg_service.py.backup_numpy
  backend/app/services/ecg_service.py.backup_path_simple
  backend/check_ecg_service_class.py
  backend/fix_ecg_analysis_error.py
  backend/fix_ecg_analysis_error_v2.py
  backend/fix_final_imports.py
  backend/fix_numpy_error_final.py
  backend/fix_path_import_simple.py
  backend/test_import_ecg.py
Due: backend-coverage-check, check-test-documentation

fix
  backend/File
  backend/boost-to-80.py
  backend/complete-coverage.py
  backend/content
  backend/final-coverage-fix.py
  backend/final-fix-syntax.py
  backend/final-fix.py
  backend/fix-all.bat
  backend/fix-ecg-tests.py
  backend/fix-script-v2.py
  backend/fix_report_final.txt
  backend/recover-coverage.py
  backend/return
  backend/tests/test_advanced_ml_service_fixed.py
  backend/tests/test_audit_trail_fixed.py
  backend/tests/test_complete_imports_coverage.py
  backend/tests/test_comprehensive_recovery.py
  backend/tests/test_ecg_tasks_complete_coverage.py
  backend/tests/test_final_boost.py
  backend/tests/test_important_modules_coverage.py
  backend/tests/test_intelligent_alert_system_fixed.py
  backend/tests/test_low_coverage_modules.py
  backend/tests/test_maximize_coverage_simple.py
  backend/tests/test_services_comprehensive.py.bak
  backend/tests/test_validation_service.py.bak
  backend/tests/test_zero_coverage_modules.py
  backend/ultimate-fix.py
  backend/✅
  backend/📝
  backend/🔧
  backend/🔨
  backend/🚀
Due: backend-coverage-check, check-test-documentation

Update ecg_analysis.py
  backend/app/models/ecg_analysis.py
Due: backend-coverage-check, complexity-check

Update interpretability_service.py
  backend/app/services/interpretability_service.py
Due: backend-coverage-check, complexity-check

Create fix_all_errors.py
  backend/fix_all_errors.py
Due: backend-coverage-check

Create ecg_classifier.py
  backend/app/ml/ecg_classifier.py
Due: backend-coverage-check, complexity-check

Create report_generator.py
  backend/app/utils/report_generator.py
Due: backend-coverage-check, complexity-check

Create run_fix_and_test.py
  backend/run_fix_and_test.py
Due: backend-coverage-check, check-test-documentation

Update config.py
  backend/app/core/config.py
Due: backend-coverage-check, complexity-check

Create base.py
  base.py
Due: none

Update exceptions.py
  backend/app/core/exceptions.py
Due: backend-coverage-check, complexity-check

Update requirements.txt
  backend/requirements.txt
Due: none

fix
  backend/app/core/config.py
  backend/app/core/exceptions.py
  backend/app/db/__init__.py
  backend/app/db/base.py
  backend/app/db/session.py
  backend/app/models/ecg_analysis.py.backup
  backend/app/schemas/ecg_analysis.py
  backend/app/services/__init__.py
  backend/app/services/ecg_service.py
  backend/app/services/ecg_service.py.backup_icu
  backend/app/services/ecg_service.py.backup_pending
  backend/app/utils/security.py
  backend/app/utils/validators.py
  backend/cardioai-defibrillator.py
  backend/cardioai-emergency-fix.py
  backend/cardioai-icu-protocol.py
  backend/cardioai-quickfix.py
  backend/fix-ecg-simple.py
  backend/fix-ecg-syntax.py
  backend/fix-line-1199.py
  backend/fix-pending-error.py
  backend/pytest.ini
  backend/test-cardioai-health.py
  backend/tests/test_app_main.py
  backend/tests/test_basic_coverage.py
  backend/tests/test_icu_minimal.py
Due: backend-coverage-check, check-test-documentation, complexity-check

fix: Configure SQLite database for standalone mode
  backend/app/core/config.py
  backend/app/db/session.py
Due: backend-coverage-check, complexity-check

fix: Remove non-existent model imports
  backend/app/models/__init__.py
  backend/app/repositories/ecg_repository.py
Due: backend-coverage-check, complexity-check

Path conditions:
  backend-coverage-check: any of: ^backend/.*\.py$
  backend-critical-coverage: any of: ^backend/app/(services/(ecg|diagnosis)|utils/medical)/.*\.py$
  frontend-coverage-check: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  frontend-medical-coverage: any of: ^frontend/src/(components/medical|services/(ecg|diagnosis))/.*\.(ts|tsx)$
  check-test-documentation: any of: ^(backend|frontend)/.*test.*\.(py|ts|tsx)$
  complexity-check: any of: ^backend/app/.*\.py$
  validate-medical-changes: any of: ^(backend/app/(services/(ecg|diagnosis)|utils/medical)|frontend/src/components/medical)/
