Repository drguilhermecapel/cardio.ai.pro: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-coverage-check, backend-critical-coverage, frontend-coverage-check, frontend-medical-coverage, check-test-documentation, complexity-check, validate-medical-changes

backend-coverage-check:
  name: Backend Coverage Check
  entry: bash -c 'cd backend && poetry run pytest --cov=app --cov-fail-under=80 -x'
  language: system
  pass_filenames: false
  stages:
  - push

backend-critical-coverage:
  name: Backend Critical Components Coverage
  entry: bash -c 'cd backend && poetry run pytest tests/test_medical_critical_components.py --cov=app.services.ecg --cov=app.services.diagnosis --cov-fail-under=100'
  language: system
  pass_filenames: false
  stages:
  - push

frontend-coverage-check:
  name: Frontend Coverage Check
  entry: bash -c 'cd frontend && npm run test:coverage:check'
  language: system
  pass_filenames: false
  stages:
  - push

frontend-medical-coverage:
  name: Frontend Medical Components Coverage
  entry: bash -c 'cd frontend && npm run test:critical'
  language: system
  pass_filenames: false
  stages:
  - push

check-test-documentation:
  name: Check Test Documentation
  entry: python scripts/check_test_docs.py
  language: python
  pass_filenames: true

complexity-check:
  name: Check Code Complexity
  entry: bash -c 'cd backend && poetry run radon cc app -nc'
  language: system
  pass_filenames: false

validate-medical-changes:
  name: Validate Medical Component Changes
  entry: python scripts/validate_medical_changes.py
  language: python
  pass_filenames: true
  stages:
  - commit

fix: Implement get_current_user authentication function
  backend/app/core/security.py
Due: backend-coverage-check, complexity-check

fix: Update API endpoint schemas and imports
  backend/app/api/v1/endpoints/auth.py
  backend/app/api/v1/endpoints/ecg_analysis.py
  backend/app/api/v1/endpoints/notifications.py
  backend/app/api/v1/endpoints/patients.py
  backend/app/api/v1/endpoints/users.py
  backend/app/api/v1/endpoints/validations.py
Due: backend-coverage-check, complexity-check

fix: Resolve frontend Jest/Vitest conflicts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/setupTests.ts
Due: frontend-coverage-check

docs: Add system status documentation
  STATUS.md
Due: none

🔧 Fix: Correção completa dos erros críticos do sistema CardioAI
  RELATORIO_FINAL.md
  backend/app/__init__.py
  backend/app/core/__init__.py
  backend/app/core/exceptions.py
  backend/app/db/__init__.py
  backend/app/db/base.py
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/models/ecg_analysis.py
  backend/app/schemas/__init__.py
  backend/app/schemas/ecg_analysis.py
  backend/app/services/__init__.py
  backend/app/utils/__init__.py
  backend/app/utils/validators.py
  backend/pyproject.toml
  backend/script_validacao.py
  backend/tests/test_app_main.py
  backend/tests/test_coverage_boost.py
  backend/tests/test_ecg_service.py
  backend/tests/test_ecg_service_critical_coverage.py
  backend/tests/test_exceptions_coverage.py
  backend/tests/test_schemas.py
Due: backend-coverage-check, check-test-documentation, complexity-check

feat: Modernização completa do CardioAI Pro Frontend
  frontend/.gitignore
  frontend/jest-setup.js
  frontend/jest.config.js
  frontend/package.json
  frontend/src/App.test.tsx
  frontend/src/components/__tests__/Layout.test.tsx
  frontend/src/components/analysis/ModernAnalysisModal.tsx
  frontend/src/components/analysis/VisualAIAnalysis.tsx
  frontend/src/components/animations/MedicalAnimations.tsx
  frontend/src/components/layout/ModernHeader.tsx
  frontend/src/components/layout/ModernSidebar.tsx
  frontend/src/components/medical/HeartbeatAnimation.tsx
  frontend/src/components/medical/ModernECGVisualization.tsx
  frontend/src/components/medical/__tests__/DiagnosisDisplay.test.tsx
  frontend/src/components/patient/ModernPatientCard.tsx
  frontend/src/components/ui/BasicComponents.tsx
  frontend/src/components/upload/AdvancedECGUpload.tsx
  frontend/src/design-system/globals.css
  frontend/src/design-system/index.ts
  frontend/src/index.css
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/ECGAnalysisPage.tsx
  frontend/src/pages/NotificationsPage.tsx
  frontend/src/pages/PatientsPage.tsx
  frontend/src/pages/ProfilePage.tsx
  frontend/src/pages/ValidationsPage.tsx
  frontend/src/setup_tests.ts
  frontend/src/simple.test.ts
  frontend/src/store/__tests__/authSlice.test.ts
  frontend/src/test/setup.ts
  frontend/src/theme.ts
  frontend/src/utils/medical/validation.ts
Due: frontend-coverage-check, frontend-medical-coverage, check-test-documentation, validate-medical-changes

docs: Adiciona README.md completo com documentação da modernização
  README.md
Due: none

feat: Configuração completa de CI/CD
  .github/workflows/ci-cd.yml
  Dockerfile
  docker-compose.yml
  frontend/.env.production
  frontend/.env.staging
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/DashboardPage.tsx
Due: frontend-coverage-check

feat: Otimização completa de performance e funcionalidades avançadas
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/LazyComponents.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/contexts/NotificationContext.tsx
  frontend/src/pages/AdminDashboard.tsx
  frontend/src/services/backupSystem.ts
  frontend/src/services/medicalAPI.ts
  frontend/src/utils/pdfGenerator.ts
  frontend/vite.config.performance.ts
  frontend/vite.config.ts
Due: frontend-coverage-check

docs: Integração completa da documentação final
  CardioAI_Pro_Entrega_Final_Completa.md
  CardioAI_Pro_Entrega_Final_Completa.pdf
  README.md
  docs/README.md
  todo.md
Due: none

fix: Correções de código e limpeza do repositório
  TESTAR_AGORA.bat
  base.py
  cardioai-test-orchestrator.py
  complete-cardioai-fix.py
  corrigir-tudo-py.py
  create_missing_tests.py
  critical-tests-coverage.py
  fix-all-cardioai.py
  fix-cardioai-tests.py
  fix-encoding-cardioai.py
  fix-pytest-encoding.py
  fix_cardioai_test_coverage.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.test.tsx
  frontend/src/services/medicalAPI.ts
  frontend/src/utils/medical/validation.ts
  frontend/src/utils/pdfGenerator.ts
  run_all_fixes.py
  run_tests.cmd
  run_tests.ps1
  setup-all-files-fixed.py
Due: frontend-coverage-check, check-test-documentation

Create cardioai-fix-final.py
  cardioai-fix-final.py
Due: none

fix
  requirements.txt
  scripts/install_deps_windows.bat
  scripts/setup_training.py
  scripts/setup_training.sh
Due: none

Update setup_training.py
  scripts/setup_training.py
Due: none

setup
  scripts/setup_training.py
  scripts/train_model.py
Due: none

training
  activate_env.bat
  activate_env.ps1
  scripts/train_model.py
Due: none

Update main.py
  backup_20250619_171517/training/main.py
Due: none

Update main.py
  backend/training/main.py
Due: backend-coverage-check

fix
  backend/main_.py
  backend/training/main_.py
Due: backend-coverage-check

fix
  main_.py
Due: none

fix
  backend/training/config/training_config.py
  requirements.txt
Due: backend-coverage-check

Update requirements.txt
  requirements.txt
Due: none

Update training_config.py
  backend/training/config/training_config.py
Due: backend-coverage-check

Update se_resnet1d.py
  backend/training/models/se_resnet1d.py
Due: backend-coverage-check

Update filters.py
  backend/training/preprocessing/filters.py
Due: backend-coverage-check

Update ptbxl_dataset.py
  backend/training/datasets/ptbxl_dataset.py
Due: backend-coverage-check

Update dataset_factory.py
  backend/training/datasets/dataset_factory.py
Due: backend-coverage-check

Update __init__.py
  backend/training/datasets/__init__.py
Due: backend-coverage-check

Update base_trainer.py
  backend/training/trainers/base_trainer.py
Due: backend-coverage-check

Update data_utils.py
  backend/training/utils/data_utils.py
Due: backend-coverage-check

Update heartbeit.py
  backend/training/models/heartbeit.py
Due: backend-coverage-check

Update base_model.py
  backend/training/models/base_model.py
Due: backend-coverage-check

feat: Implementado dataset PTB-XL com simulação de dados para treinamento e corrigidos erros de sintaxe e inicialização.
  backend/training/datasets/ptbxl_dataset.py
  main_.py
Due: backend-coverage-check

Ajustes no requirements.txt e main_.py para tentar resolver problemas de instalação e execução em ambiente de CPU.
  requirements.txt
Due: none

feat: adiciona suporte a arquivos .npy em datasets de ECG
  backend/training/datasets/base_dataset.py
  requirements.txt
Due: backend-coverage-check

fix: remove duplicata de numpy em requirements.txt e adiciona suporte a .npy em MITBIHDataset
  backend/training/datasets/mitbih_dataset.py
  requirements.txt
Due: backend-coverage-check

Create ecg_training_system.py
  ecg_training_system.py
Due: none

Path conditions:
  backend-coverage-check: any of: ^backend/.*\.py$
  backend-critical-coverage: any of: ^backend/app/(services/(ecg|diagnosis)|utils/medical)/.*\.py$
  frontend-coverage-check: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  frontend-medical-coverage: any of: ^frontend/src/(components/medical|services/(ecg|diagnosis))/.*\.(ts|tsx)$
  check-test-documentation: any of: ^(backend|frontend)/.*test.*\.(py|ts|tsx)$
  complexity-check: any of: ^backend/app/.*\.py$
  validate-medical-changes: any of: ^(backend/app/(services/(ecg|diagnosis)|utils/medical)|frontend/src/components/medical)/
