Repository drguilhermecapel/cardio.ai.pro: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-coverage-check, backend-critical-coverage, frontend-coverage-check, frontend-medical-coverage, check-test-documentation, complexity-check, validate-medical-changes

Path conditions:
  backend-coverage-check: any of: ^backend/.*\.py$
  backend-critical-coverage: any of: ^backend/app/(services/(ecg|diagnosis)|utils/medical)/.*\.py$
  frontend-coverage-check: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  frontend-medical-coverage: any of: ^frontend/src/(components/medical|services/(ecg|diagnosis))/.*\.(ts|tsx)$
  check-test-documentation: any of: ^(backend|frontend)/.*test.*\.(py|ts|tsx)$
  complexity-check: any of: ^backend/app/.*\.py$
  validate-medical-changes: any of: ^(backend/app/(services/(ecg|diagnosis)|utils/medical)|frontend/src/components/medical)/

Update interpretability_service.py
  backend/app/services/interpretability_service.py
Due: backend-coverage-check, complexity-check

Update multi_pathology_service.py
  backend/app/services/multi_pathology_service.py
Due: backend-coverage-check, complexity-check

Create test_ecg_service_critical_coverage.py
  backend/tests/test_ecg_service_critical_coverage.py
Due: backend-coverage-check, check-test-documentation

Create fix_all_endpoints.py
  backend/app/api/v1/endpoints/fix_all_endpoints.py
Due: backend-coverage-check, complexity-check

Create fix_config_constants.py
  backend/app/core/fix_config_constants.py
Due: backend-coverage-check, complexity-check

Create run_all_fixes.py
  backend/run_all_fixes.py
Due: backend-coverage-check

Create fix_implementation_issues.py
  backend/fix_implementation_issues.py
Due: backend-coverage-check

Create FIX_INSTRUCTIONS.md
  backend/FIX_INSTRUCTIONS.md
Due: none

Update FIX_INSTRUCTIONS.md
  backend/FIX_INSTRUCTIONS.md
Due: none

fixes in tests
  TESTAR_AGORA.bat
  backend/TESTAR_AGORA_FINAL.bat
  backend/TESTAR_DEFINITIVO.bat
  backend/TESTAR_INTELIGENTE.bat
  backend/app/core/config.py
  backend/app/core/constants.py
  backend/app/core/exceptions.py
  backend/app/main.py
  backend/app/ml/__init__.py
  backend/app/ml/ml_model_service.py
  backend/corrigir-ultimos-erros.py
  backend/fix-all-errors-final.py
  backend/listar-testes-existentes.py
  backend/run_tests.bat
  backend/run_tests_safe.py
  backend/teste-final-simples.bat
  backend/tests/conftest.py
  backend/tests/test_config_coverage.py
  backend/tests/test_exceptions_coverage.py
  cardioai-test-orchestrator.py
  complete-cardioai-fix.py
  corrigir-tudo-py.py
  critical-tests-coverage (1).py
  critical-tests-coverage.py
  fix-all-cardioai.py
  fix-cardioai-tests.py
  fix-encoding-cardioai.py
  fix-pytest-encoding.py
Due: backend-coverage-check, check-test-documentation, complexity-check

Update conftest.py
  backend/tests/conftest.py
Due: backend-coverage-check, check-test-documentation

Update hybrid_ecg_service.py
  backend/app/services/hybrid_ecg_service.py
Due: backend-coverage-check, complexity-check

Update advanced_ml_service.py
  backend/app/services/advanced_ml_service.py
Due: backend-coverage-check, complexity-check

Update feedback_loop_system.py
  backend/app/monitoring/feedback_loop_system.py
Due: backend-coverage-check, complexity-check

Update security.py
  backend/app/core/security.py
Due: backend-coverage-check, complexity-check

Update logging.py
  backend/app/core/logging.py
Due: backend-coverage-check, complexity-check

Update exceptions.py
  backend/app/core/exceptions.py
Due: backend-coverage-check, complexity-check

Update main.py
  backend/main.py
Due: backend-coverage-check

Revert "Update main.py"
  backend/main.py
Due: backend-coverage-check

Update main.py
  backend/app/main.py
Due: backend-coverage-check, complexity-check

Update constants.py
  backend/app/core/constants.py
Due: backend-coverage-check, complexity-check

Update test_main.py
  backend/tests/test_main.py
Due: backend-coverage-check, check-test-documentation

Create fix_cardioai_exceptions.py
  backend/fix_cardioai_exceptions.py
Due: backend-coverage-check

Create test_endpoints.py
  backend/test_endpoints.py
Due: backend-coverage-check, check-test-documentation

exceptions
  backend/app/core/exceptions.py
  backend/app/core/exceptions.py.backup
Due: backend-coverage-check, complexity-check

fix
  backend/apply-all-fixes-python.py
  backend/apply-all-fixes.py
  backend/cardioai-fix-script.py
  backend/fix-additional-issues.py
  backend/fix-validation-exception.py
  backend/python
  backend/run-tests-cardioai.py
Due: backend-coverage-check, check-test-documentation
