Repository drguilhermecapel/cardio.ai.pro: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-coverage-check, backend-critical-coverage, frontend-coverage-check, frontend-medical-coverage, check-test-documentation, complexity-check, validate-medical-changes

Path conditions:
  backend-coverage-check: any of: ^backend/.*\.py$
  backend-critical-coverage: any of: ^backend/app/(services/(ecg|diagnosis)|utils/medical)/.*\.py$
  frontend-coverage-check: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  frontend-medical-coverage: any of: ^frontend/src/(components/medical|services/(ecg|diagnosis))/.*\.(ts|tsx)$
  check-test-documentation: any of: ^(backend|frontend)/.*test.*\.(py|ts|tsx)$
  complexity-check: any of: ^backend/app/.*\.py$
  validate-medical-changes: any of: ^(backend/app/(services/(ecg|diagnosis)|utils/medical)|frontend/src/components/medical)/

Create generate_coverage_summary.py
  scripts/generate_coverage_summary.py
Due: none

Update package-lock.json
  frontend/package-lock.json
Due: none

Update test-coverage.yml
  .github/workflows/test-coverage.yml
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Update pyproject.toml
  backend/pyproject.toml
Due: none

Create setup_backend.ps1
  backend/setup_backend.ps1
Due: none

Create .pip-audit.toml
  backend/.pip-audit.toml
Due: none

Update Makefile
  Makefile
Due: none

Update poetry.lock
  backend/poetry.lock
Due: none

Fix imports and add compatibility aliases
  backend/app/core/signal_processing.py
  backend/app/core/signal_quality.py
  backend/app/monitoring/feedback_loop_system.py
  backend/app/preprocessing/enhanced_quality_analyzer.py
  backend/app/security/audit_trail.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/tests/test_api_endpoints_full.py
Due: backend-coverage-check, check-test-documentation, complexity-check

Add ruff dev dependency
  backend/app/core/signal_processing.py
  backend/app/core/signal_quality.py
  backend/app/monitoring/feedback_loop_system.py
  backend/app/preprocessing/enhanced_quality_analyzer.py
  backend/app/security/audit_trail.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/tests/test_api_endpoints_full.py
Due: backend-coverage-check, check-test-documentation, complexity-check

Upgrade vulnerable dependencies
  backend/poetry.lock
  backend/pyproject.toml
Due: none

fix eslint config for npm run lint
  frontend/.eslintrc.cjs
  frontend/package.json
Due: none

chore: remove outdated backup files
  backend/app/core/constants.py.backup
  backend/app/ml/training_pipeline.py
  backend/app/services/hybrid_ecg_service.py
  backend/app/services/interpretability_service.py.backup
  backend/app/services/multi_pathology_service.py.backup
  backend/app/utils/adaptive_thresholds.py
  backend/pyproject.toml
  backend/tests/test_core_constants.py.backup
Due: backend-coverage-check, complexity-check

Mock missing ML dependencies in tests
  backend/poetry.lock
  backend/pyproject.toml
  backend/tests/conftest.py
Due: backend-coverage-check, check-test-documentation

Add ruff dependency and update lock file
  backend/poetry.lock
  backend/pyproject.toml
Due: none

Update test_comprehensive_80_percent_coverage.py
  backend/tests/test_comprehensive_80_percent_coverage.py
Due: backend-coverage-check, check-test-documentation

Update conftest.py
  backend/tests/conftest.py
Due: backend-coverage-check, check-test-documentation

Update memory_monitor.py
  backend/app/utils/memory_monitor.py
Due: backend-coverage-check, complexity-check

Create validators.py
  backend/app/utils/validators.py
Due: backend-coverage-check, complexity-check

Create run_coverage_test.sh
  backend/run_coverage_test.sh
Due: none

Create Makefile
  backend/Makefile
Due: none

Create test_mock_pyedflib.py
  backend/tests/test_mock_pyedflib.py
Due: backend-coverage-check, check-test-documentation

Create test_comprehensive_coverage_final.py
  backend/tests/test_comprehensive_coverage_final.py
Due: backend-coverage-check, check-test-documentation

Create run_tests_with_coverage.py
  backend/tests/run_tests_with_coverage.py
Due: backend-coverage-check, check-test-documentation

Create .coveragerc
  backend/.coveragerc
Due: none

Create test_coverage_boost.py
  backend/tests/test_coverage_boost.py
Due: backend-coverage-check, check-test-documentation

Update test_coverage_boost.py
  backend/tests/test_coverage_boost.py
Due: backend-coverage-check, check-test-documentation

Delete poetry.lock
  backend/poetry.lock
Due: none

Atualizar o interpretability_service.py
  backend/app/services/interpretability_service.py
Due: backend-coverage-check, complexity-check

Create test.db
  backend/test.db
Due: none

Revert "Atualizar o interpretability_service.py"
  backend/app/services/interpretability_service.py
Due: backend-coverage-check, complexity-check
